examples/hello-world.json
{
  "name": "Hello World - n8n Study",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Hello, n8n!"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ],
          "number": [
            {
              "name": "executionId",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Set Welcome Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Access the data from the previous node\nconst message = $input.item.json.message;\nconst timestamp = $input.item.json.timestamp;\n\n// Create a formatted output\nconst output = {\n  greeting: message,\n  createdAt: timestamp,\n  workflowName: $workflow.name,\n  status: 'success'\n};\n\nreturn output;"
      },
      "id": "3",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Welcome Message": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "study-example"
  },
  "tags": [
    {
      "name": "beginner",
      "id": "1"
    },
    {
      "name": "example",
      "id": "2"
    }
  ]
}
